.sidebar{
    z-index: 1040;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.sidebar-container{
    padding-bottom: 16px;
    padding-top: 16px;
}

.sidebar>ul{
    list-style: none none;
    padding-left: 0;
}

.button-group{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(153,153,153,.3);
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 16px;
}