
.annotations {
    transition: all 0.3s linear;
    height: 0;
    visibility: hidden;
    transform-origin: top;
    overflow: hidden;
    z-index: 0;
}

.annotations.active {
    height: auto;
    visibility: visible;
    transition: all 0.3s linear;
}

.bg-color0 {
    background-color: rgba(10, 126, 190, 0.31);
}

.bg-color1 {
    background-color: rgba(0, 0, 0, 0.3);
}
