.card{
    width: 15rem;
    float: left;
    cursor: pointer;
    margin: 2%;
}

.card-title{
    padding: 0px 0px !important;
}

.float_center{
    float: center !important;
}

.list-group-item {
    padding: 0 !important;
}

.thumbnail-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 50px;
    border: 1px solid black;
}

img.preview{
    background: white;
    height: 100%;
}

.remove-all-padding{
    padding: 0!important;
}

.remove-all-margin{
    margin: 0!important;
}

.co-text{

}

.co-title {
    font-size: 16px;
    font-weight: 700;
}

.co-subtitle {
    font-size: 12px;
    font-weight: 300;
}