.thumbnail-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 50px;
    border: 1px solid black;
}

img.preview{

    height: 100%;
}

.remove-all-padding{
    padding: 0!important;
}

.remove-all-margin{
    margin: 0!important;
}

.co-text{

}

.co-title {
    font-size: 16px;
    font-weight: 700;
}

.co-subtitle {
    font-size: 12px;
    font-weight: 300;
}