.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid darkgrey;
    box-shadow: 0 0 0 5px white;

}

.bsh-label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    padding-left: 1.5em;
}

.bsh-label-name {
    padding-left: 0.5em;
    font-size: 24px;
    font-weight: 600

}
