
.svg-inline--fa{
    padding-right: 3px !important;
}

.remove-right-padding{
    padding-right: 8px !important;
}

.remove-left-padding{
    padding-left: 8px !important;
}
/*TODO remove*/
.hack-sm-2{
    flex: 0 0 13.8%!important;
}

.hack-grow-8{
    flex: 2 0 66.66666%!important;
    max-width: none!important;
}


.navigator-wrapper {
    background: #000;
    position:absolute;
    bottom: 5px;
    right: 5px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
    z-index: 3100
}

#navigator {
    width: 100%;
    height: 200px;
    bottom: 0;
}

#navigator-displayregion {
    border: 1px #d53015 !important;
    z-index: 4500 !important;
    background: rgba(0, 0, 0, .2) !important;
}


body.background{
    background-color: #E7E8E8 !important;
}

/* fixing issues with modal in girder*/
.modal.in .modal-dialog {
    -webkit-transform: translate(0)!important;
    -ms-transform: translate(0)!important;
    -o-transform: translate(0)!important;
    transform: translate(0)!important;
}

.fade.in {
    opacity: 1!important;
}

.modal-backdrop.in {
    filter: alpha(opacity=50)!important;
    opacity: .5!important;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #333!important;
    background-color: #fff!important;
    overflow: visible!important;
}

.modal-header{
    display: block!important;
}

.btn{
    font-size: 14px!important;
}

.input-sm {
    display: inline!important;
    height: 30px!important;
    padding: 5px 10px!important;
    font-size: 12px!important;
    line-height: 1.5!important;
    border-radius: 3px!important;
}

.navbar{
    margin-bottom: 10px !important;
}

.img{
height: 50%; width: 50%;
}
