.side-vert-bar {
    border-left: 3px solid;
    transition: border-left 0.15s 0.15s linear;
}


.side-vert-bar.active {
    border-left: 0 solid;
    transition: border-left 0.15s linear;
}

.color0 {
    border-color: #0A7EbE;
}

.color1 {
    border-color: black;
}

.label{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.btns{

}

.lbl-dot{
    width: 12px;
    height: 12px;
    margin-right: 6px;
    border-radius: 50%;
}

.lbl-text{
    margin: 6px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.lbl-text>p{
    font-size: 1.5rem;
    margin-bottom: 0!important;
    line-height: 1;
}
.lbl-card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding : 0.5rem 0.25rem !important;
    cursor:pointer;
}

.card-body{
    padding : 0 !important;
}
.label .text {
    position: relative;
    font-size: 22px;
    font-weight: 500;
}

.label:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.icon-size{
    font-size: 22px;
}

.icon-button{
    color: rgba(0,0,0,1)!important;
    width: 36px!important;
    height: 36px!important;
    opacity: 0.54;
}

.icon-button:hover{

    opacity: 1!important;
}