.ann-text{
    padding-top: 8px;
    font-size: 16px;
}

.ann-subtext{
    font-weight: 200;
    font-size: 12px;
    padding-bottom: 8px;
}

.poly_item{

}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}