@media all and (min-width: 480px) {

  #register_logo{
  margin-left: auto;
  margin: auto;
    width: 50%;
    text-align: center;
  }

  #Register {
    margin-top:10%;
    color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;login.css
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

  }

  #register form {
    margin: 0 auto;
    max-width: 320px;
  }





}