.l-img-thumbnail {
    width: 100%;
    background: black;
}

.l-img-thumbnail img {
    width: 100%;
    height: auto;
}

.tn-card {
    cursor: pointer;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0.5rem;
    position: relative;
    border: rgba(0, 0, 0, 0.3) 1px solid;
}

.tn-title {
    font-size: 16px;
    font-weight: 700;
}

.tn-subtitle {
    font-size: 12px;
    font-weight: 300;
}

.tn-card.active {
    border: #4D9DE0 1px solid;
}