.l-img-thumbnail {
    width: 100%;
    background: black;
}

.l-img-thumbnail img {
    width: 100%;
    height: auto;
}

.fixed-width {
    width: 208px !important;
}

.tn-card {
    cursor: pointer;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0.5rem;
    position: relative;
    padding: 5px 5px;
}

.tn-text {
    width: 160px;
}

.tn-icon{
    margin: 0.3rem;
    opacity: 0.8;
}

.line-clamp {

    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.tn-title {
    font-weight: 700;
    margin-bottom: 0.2rem;
    font-family: 'Hind Vadodara', Sans-Serif;
    font-size: 16px;
    text-align: left;
}

.tn-subtitle {
    font-family: 'Arimo', Serif;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
    opacity: 0.6;
}

.tn-card.active {
    border: #4D9DE0 1px solid;
}

.tn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tn-stats {
    flex-grow: 0;
    line-height: 0;
    opacity: 0.6;
    font-weight: 100;
}



