.toolbar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.toolbar button:focus {
    outline: 0;
}

.text-btn {
    font-weight: 600!important;

}

.btn-small{
    min-width: auto!important;
}

.save-indicator {
    color: gray;
}

.vertical-divider{
    height: auto!important;
    width: 1px;
}