.toolbar {
    display: flex;
    flex-direction: row;
}

.tbg {
    display: flex;
    flex-direction: row;
    flew-wrap: nowrap;
}

.full-toolbar{
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-between;
}

.full-toolbar button:focus{
    outline: 0;
}

.toolbar button:focus {
    outline: 0;
}

.text-btn {
    font-weight: 600!important;

}
.icon-medium{
    font-size: 25px;
}

.zoom-level{
    font-size: 15px;
}

.btn-small{
    min-width: auto!important;
    min-height: auto!important;
    padding-top: 4px!important;
    padding-bottom: 4px!important;
}

.save-indicator {
    color: gray;
}

.vertical-divider{
    height: auto!important;
    width: 1px;
}