.toolbar{
  position: absolute !important;
  left: 25% !important;
  z-index: 200 !important;
  }

.toolbar button{
font-size: 1.75rem;
}

.toolbar button:hover{
color: white;
background-color: gray;
}

