.remove-right-padding{
    padding-right: 0 !important;
}

body.background{
    background-color: #c5c5c5 !important;
}

/* fixing issues with modal in girder*/
.modal.in .modal-dialog {
    -webkit-transform: translate(0)!important;
    -ms-transform: translate(0)!important;
    -o-transform: translate(0)!important;
    transform: translate(0)!important;
}

.fade.in {
    opacity: 1!important;
}

.modal-backdrop.in {
    filter: alpha(opacity=50)!important;
    opacity: .5!important;
}