.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.svg-inline--fa{
    padding-right: 3px !important;
}

.remove-right-padding{
    padding-right: 0 !important;
}

body{
    background-color: #c5c5c5 !important;
}

.navbar{
    margin-bottom: 10px !important;
}

.img{
height: 50%; width: 50%;
}
