.l-img-thumbnail {
    width: 100%;
    background: black;
}

.l-img-thumbnail img {
    width: 100%;
    height: auto;
}

.tn-card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tn-title{
    font-size: 16px;
    font-weight: 700;
}

.tn-subtitle{
    font-size: 12px;
    font-weight: 300;
}