.side-vert-bar{
    border-left: 3px solid;
    transition: border-left 0.15s 0.15s linear;
}

.side-vert-bar.active{
    border-left: 0 solid;
    transition: border-left 0.15s linear;
}

.color0{
    border-color: #0A7EbE;
}

.color1{
    border-color: black;
}

.label .text{
    position: relative;
    padding-top:10px;
    font-size: 22px;
    font-weight: 500;
}

.label:hover {
    background-color: rgba(0,0,0,.05);
    cursor: pointer;
}